services:
  api:
    build: .
    container_name: api
    user: "1000:1000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --no-server-header --reload
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    env_file:
      - .env
    # depends_on:
    #   - db
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:18
    restart: always
    container_name: db
    healthcheck:
      # test: ["CMD-SHELL", "pg_isready -U postgres"]
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      retries: 5
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      # - pgdata:/var/lib/postgresql/data
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
